$bg: #282828;
$fg: #ebdbb2;
$font: "JetBrainsMono Nerd Font";
$font-size: 10pt;

* {
  color: $fg;
  font-family: $font;
  font-size: $font-size;
}

window.bar {
  .bar-wrapper {
    background-color: $bg;

    padding: 6px;
  }
}
